<!-- customers.hbs -->
<h1>This is the page to enable an admin to interact with the customers table in the db </h1>

<p>Functionality To Add 
    <ul>
        <li>Ability to add new customers to the table</li>
        <li></li>
        <li></li>
        <li>Ability to delete old customers from the table</li>
    </ul>
</p>