<!-- index.hbs -->
<h1>This is the homepage for the Plants Unlimited </h1>
<p>To interact with the Plants Unlimited database as an admin the following pages can be used
    to execute CRUD operations.
    <ul>
        <li><a href="/customers">Customer Table page</a></li>
        <li><a href="/create">Create page</a></li>
        <li><a href="/read">Read page</a></li>
        <li><a href="/update">Update page</a></li>
        <li><a href="/delete">Delete page</a></li>
    </ul>
</p>

