<!-- index.hbs -->
<h1>This is the homepage for the Plants Unlimited </h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>
<p>For this frontend we will need to build the following
    <ul>
        <li>A list of links to all the relevant pages</li>
        <li>A page enabling a user to add to our data base (e.g. create new plants or customers or sals or promotions</li>
        <li>A page or button enabling a user to delete rows from the db (e.g. delete a customer or plant)</li>
        <li>A page to enable a user to update existing informtion</li>
        <li>A page for a user to access and read from the data base</li>
    </ul>
</p>

<a href="/create">This will take you to the create page</a>