<!-- index.hbs -->
<h1>This is the homepage for the Plants Unlimited </h1>
<p>To interact with the Plants Unlimited database as an admin the following pages can be used
    to execute CRUD operations.
    <ul>
        <li><a href="/customers">Customer Table page</a></li>
        <li><a href="/promotions">Promotions Table page</a></li>
    </ul>
</p>

