<!-- customers.hbs -->
<h1>Plants Unlimited: <b style="color:Orange">OrderContents</b></h1>
<li><a href="/">Homepage</a></li>
<p><b>Description: </b> This web page will enable an admin user to execute CRUD functions on the Products table for Plants Unlimited. 
    When executing CRUD functions we recommend providing as much detail as possible, though if some specific product 
    information isn't known it can be left out. Use the radio buttons to indicate if a field is being input and if it 
    is being left out leave the text or selection blank.
</p>
<p><strong>To Create a new Order please provide the following information:</strong>
<ul><li>ContentID</li>
<li>OrderID</li>
<li>ProductID</li>
<li>Quantityordered</li>
</ul>
</p>
<p><strong>To update the exising Customer provide:</strong></p>
<p>Please Select the Update button and provided the correct fieldset with updated information<p>
</ul>
<p><strong>To Delete:</strong></p>
<p><li>Please select the Delete button enter the contentID number and cliked Yes to provide a contentID</p>
<form>
    <label>What action would you like to take in the Order Conetnts table: </label>
    <select name="crud" id="crud">
        <option value="create">Create</option>
        <option value="update">Update</option>
        <option value="delete">Delete</option>
    </select>
    
    <br>
    
    <label>Are you providing a Content ID? </label>
    <input type="radio" id="yes" name="include_cid" value="yes">
        <label for="include_cid">Yes</label>
    <input type="radio" id="no" name="include_cid" value="no">
       <label for="include_cid">No</label>
        
    <label for="cid">If yes, enter the contentID: </label>
    <input type="text" id="cid" name="cid">
    
    <br>

    <label>Are you providing a Order ID? </label>
    <input type="radio" id="yes" name="include_oid" value="yes">
        <label for="include_oid">Yes</label>
    <input type="radio" id="no" name="include_oid" value="no">
       <label for="include_oid">No</label>
        
    <label for="oid">If yes, enter the orderID: </label>
    <input type="text" id="oid" name="oid"> 
    <br>

    <label>Are you providing a Product ID? </label>
    <input type="radio" id="yes" name="include_pid" value="yes">
    <label for="include_pid">Yes</label>
    <input type="radio" id="no" name="include_pid" value="no">
    <label for="include_pid">No</label>
        
    <label for="pid">If yes, enter the productID: </label>
    <input type="text" id="pid" name="pid">
    <br>
    <label for="quantityOrdered">What is the price of the quantity ordered: </label>
    <input type="number" min="0" id="quantityOrdered" name="quantityOrdered">
    
    <br>

    <input type="submit"></input>
</form>

<p><b>Results: </b></p>
<table>
    <thead> 
<th>ContentID</th>

<th>OrderID</th>

<th>ProductID</th>

<th>QuantityOrdered</th>
</thead>
<tbody>
        {{#each orderContents}} 
        <tr> 
            <td>{{this.contentID}}</td> 
            <td>{{this.orderID}}</td> 
            <td>{{this.productID}}</td> 
            <td>{{this.quantityOrdered}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 