<!-- customers.hbs -->
<h1>Plants Unlimited: <b style="color:red">promotions</b></h1>
<a href="/">Homepage</a>
<p><b>Description: </b> This web page will enable an admin user to execute CRUD functions on the Promotions table for Plants Unlimited. 
    When executing CRUD functions we recommend providing as much detail as possible, though if some specific promotion 
    information isn't known it can be left out. Use the radio buttons to indicate if a field is being input and if it 
    is being left out leave the text or selection blank.
</p>
<p><strong>To Create a new Promotion please follow the instructions below:</strong>
    <ol>
        <li>Select "Create" as the action you would like to take.</li>
        <li>Provide the following information where applicable. A "*" represents the field is required to create a new promotion
            <ul>
                <li>PromoID</li>
                <li>Status*</li>
                <li>Discount Size*</li>
            </ul>
        </li>
        <li>
            "Submit" the form once you've provided all of the relevant promotion information.
        </li>
    </ol>
</p>
<p><strong>To update an exising Promotion use the following instructions:</strong></p>
<p>
    <ol>
        <li>Please Select the "Update" action from the dropdown</li>
        <li>Input the ID of the promotion being updated</li>
        <li>Provide the fieldset with updated information</li>
        <li>"Submit" the form</li>
    </ol>
</p>
<p><strong>To Delete review the following:</strong></p>
<p>
    <ol>
        <li>Select "Delete" as the action you would like to take</li>
        <li>Select that "Yes" to providing a PromoID and provide the ID of the promotion you wish to remove</li>
        <li>"Submit" the form</li>
    </ol>
</p>
<form>
    <label>What action would you like to take in the Promotions table: </label>
    <select name="crud" id="crud">
    <option value="create">Create</option>
    <option value="update">Update</option>
    <option value="delete">Delete</option>
    </select>


    <br>
    
    <label>Are you providing a Promo ID? </label>
    <input type="radio" id="yes" name="include_pid" value="yes">
    <label for="include_pid">Yes</label>
    <input type="radio" id="no" name="include_pid" value="no">
    <label for="include_pid">No</label>

    <label for="promoID">If yes, enter the promoID: </label>
    <input type="text" id="promoID" name="promoID">

    <br>

    <label>What is the status of the promotion: </label>
    <select name="status" id="status">
    <option value="-1">...</option>
    <option value="1">Active</option>
    <option value="0">Inactive</option>
    </select>
    
    <br>

    <label for="discountSize">What is the size of the discount: </label>
    <input type="number" min="0" max="1" step="0.01" id="discountSize" name="discountSize">
    
    <br>


<input type="submit"></input>
</form>

<p><b>Results: </b></p>
<table>
    <thead> 
<th>PromoID</th>

<th>Status</th>

<th>discountSize</th>

</thead>
 <tbody>
        {{#each promotions}} 
        <tr>
            <td>{{this.promoID}}</td> 
            <td>{{this.status}}</td> 
            <td>{{this.discountSize}}</td> 
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
      