<!-- read.hbs -->
<h1>This is the page to enable an admin to read from the db </h1>
<p>Functionality To Add 
    <ul>
        <li>Ability to add plants to product</li>
        <li>Ability to Promotions for specific plants</li>
        <li>Ability to add sales to the sales table</li>
    </ul>
</p>